settings:
  dir_remote: '/root/dump/'
  logging: true
  ssh:
    private_key: '/User/.ssh/id_rsa'
    passphrase: '123456'
    is_passphrase: true
    password: '123456'
  template: '{%srv%}_{%db%}_{%datetime%}'
  remove_dump: true
  storages:
    - local-storage
    - ftp-storage
  encrypt:
    enabled: false
    type: 'aes'
    password: '123456'
  docker:
    enabled: false
    command: "docker compose --file /var/www/docker-compose.yaml exec -T postgres"
  shell:
    enabled: false
    before: |
      echo "run script before create dump create dump (global)"
    after: |
      echo "run script after created dump created dump (global)"

storages:
  local-storage:
    type: 'local'
    dir: "./dumps"

  ftp-storage:
    type: 'ftp'
    dir: "./uploads/dumps"
    host: "192.168.139.108"
    port: 21
    username: "ftpuser"
    password: "123456"

  s3-storage:
    type: "s3"
    region: "region"
    access_key: "key_id"
    secret_key: "secret_key"
    bucket: "dumps"

servers:
  srv-psql:
    title: 'Server Postgres'
    name: 'psql'
    host: '172.16.204.99'
    user: 'root'
    port: 22
    shell:
      enabled: true
      before: |
        echo "run script before create dump create dump (server)"
      after: |
        echo "run script after created dump created dump (server)"

  srv-mysql:
    title: 'Server MySQL'
    name: 'mysql'
    host: '203.0.113.77'
    user: 'root'
    port: 22
    private_key: '/User/.ssh/id_rsa'
    passphrase: '123456'
    is_passphrase: true

  srv-neo4j:
    title: 'Neo4j Server'
    name: 'neo4j'
    host: '192.168.1.100'
    user: 'root'
    port: 22
    private_key: '/User/.ssh/id_rsa'

  srv-aws:
    title: 'Dynamo DB Server'
    name: 'dynamodb'
    host: '192.168.1.100'
    user: 'root'
    port: 22
    private_key: '/User/.ssh/id_rsa'

  srv-local:
    title: 'Local Server'
    name: 'dynamodb'
    host: '192.168.1.100'
    user: 'root'
    port: 22
    private_key: '/User/.ssh/id_rsa'


databases:
  # Config PSQL databases
  db-psql:
    title: 'My DB PSQL #1'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 5432
    driver: 'psql'
    server: 'srv-psql'
    format: 'plain'
    encrypt:
      enabled: true
      type: 'aes'
      password: '123456'
    storages:
      - ftp-storage
      - local-storage
    docker:
      enabled: true
      command: "docker compose --file /var/www/docker-compose.yaml exec -T postgres"
    shell:
      enabled: true
      before: |
        echo "run script before create dump create dump"
      after: |
        echo "run script after created dump created dump"

  db-psql-custom:
    title: 'My DB PSQL #2'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 5432
    driver: 'psql'
    server: 'srv-psql'
    format: 'dump'
    archive: false
    storages:
      - ftp-storage
      - local-storage
    docker:
      enabled: true
      command: "docker compose --file /var/www/docker-compose.yaml exec -T postgres"

  # Config MySQL databases
  db-mysql:
    title: 'My DB MySQL #1'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 3306
    driver: 'mysql'
    server: 'srv-mysql'
    format: 'sql'
    storages:
      - ftp-storage
    docker:
      enabled: true
      command: "docker compose --file /var/www/docker-compose.yaml exec -T mysql"
    shell:
      enabled: false

  db-mysql-s:
    title: 'My DB MySQL #2'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 3306
    driver: 'mysql'
    server: 'srv-mysql'
    format: 'sql'
    storages:
      - local-storage
    encrypt:
      enabled: true
      type: 'aes'
      password: '123456'
    docker:
      enabled: false
  # Config Neo4j Database
  db-neo4j:
    title: 'My Neo4j Graph Database'
    name: 'neo4j'  # database name in Neo4j
    driver: 'neo4j'
    server: 'srv-neo4j'
    format: 'dump'
    storages:
      - local-storage
    docker:
      enabled: true
      command: "docker exec -T neo4j"
    shell:
      enabled: false

  # Config DynamoDB Database
  db-dynamodb-prod:
    title: 'Production DynamoDB Table'
    name: 'ProductsTable'  # DynamoDB table name
    driver: 'dynamodb'
    server: 'srv-aws'
    format: 'json'
    storages:
      - s3-storage
      - local-storage
    options:
      region: 'us-east-1'
      profile: 'production'  # AWS CLI profile
    shell:
      enabled: false

  db-dynamodb-local:
    title: 'Local DynamoDB Table'
    name: 'LocalTable'
    driver: 'dynamodb'
    server: 'srv-local'
    format: 'json'
    storages:
      - local-storage
    options:
      region: 'local'
      endpoint: 'http://localhost:8000'  # Local DynamoDB endpoint