settings:
  # Global port for all databases
  db_port: '5432'
  # Global key for connecting to the server
  server_key: 'path_key'
  # Global port for connecting to the server
  server_port: '22'
  # Global Database Selection Driver (psql | mysql | mongo | mssql | redis | mariadb)
  driver: 'psql'
  # Connecting to the server via ssh
  ssh:
    private_key: '/User/.ssh/id_rsa'
    passphrase: '123456'
    is_passphrase: true
  # Dir remote dump
  dir_remote: '/root/dump/'
  # Dump name template
  template: '{%srv%}_{%db%}_{%datetime%}'
  # Option to archive old dumps (available only if {%srv%}_{%db%} is present in the dump names)
  archive: true
  # server, local-ssh, local-direct
  location: 'server'
  # plain, dump, tar
  format: 'plain'
  # directory by save dump
  dir_dump: './dumps'
  # directory by old dump
  dir_archived: './old'
  logging: true
  retry_connect: 5
  remove_dump: true
  parallel_download: 1
  storages:
    - local
#  encrypt:
#    type: 'aes'
#    password: '123456'
#  docker:
#    enabled: false
#    command: "docker compose --file /var/www/docker-compose.yaml exec -T postgres"

storages:
  local:
    dir: "./dumps"

  ftp:
    dir: "./uploads/dumps"
    host: "192.168.139.108"
    port: 21
    username: "ftpuser"
    password: "123456"

  sftp:
    dir: "./dumps"
    host: "192.168.139.108"
    port: 22
    username: "sftpuser"
    private_key: "/Users/sftpuser/.ssh/id_rsa"
    passphrase: "123456"

servers:
  srv-conf-remote:
    title: 'Load remote config'
    name: 'conf-remote'
    host: '10.23.55.181'
    user: 'root'
    port: 22
    conf_path: '/var/www/conf.yaml'

  srv-psql:
    title: 'Server Postgres'
    name: 'psql'
    host: '172.16.204.99'
    user: 'root'
    port: 22

  srv-mysql:
    title: 'Server MySQL'
    name: 'mysql'
    host: '203.0.113.77'
    user: 'root'
    port: 22

  srv-mongo:
    title: 'Server Mongo DB'
    name: 'mongo'
    host: '54.217.33.10'
    user: 'root'
    port: 22

  srv-redis:
    title: 'Server Redis'
    name: 'redis'
    host: '172.31.88.200'
    user: 'root'
    port: 22

  srv-sqlite:
    title: 'Server SQLite3'
    name: 'sqlite'
    host: '100.64.12.55'
    user: 'root'
    port: 22

  srv-mssql:
    title: 'Server Microsoft SQL Server'
    name: 'mssql'
    host: '198.51.100.42'
    user: 'root'
    port: 22

databases:
  # Config PSQL databases
  db-psql:
    title: 'My DB PSQL #1'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 5432
    driver: 'psql'
    server: 'srv-psql'
    format: 'plain'
    encrypt:
      type: 'aes'
      password: '123456'
    storages:
      - sftp
      - local
    docker:
      enabled: true
      command: "docker compose --file /var/www/docker-compose.yaml exec -T postgres"

  db-psql-custom:
    title: 'My DB PSQL #2'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 5432
    driver: 'psql'
    server: 'srv-psql'
    format: 'dump'
    archive: false
    storages:
      - ftp
      - local
    docker:
      enabled: true
      command: "docker compose --file /var/www/docker-compose.yaml exec -T postgres"

  db-psql-tar:
    title: 'My DB PSQL #3'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 5432
    driver: 'psql'
    server: 'srv-psql'
    format: 'tar'
    encrypt:
      type: 'aes'
      password: '123456'
  
  # Config MySQL databases
  db-mysql:
    title: 'My DB MySQL #1'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 3306
    driver: 'mysql'
    server: 'srv-mysql'
    format: 'sql'
    storages:
      - sftp
    docker:
      enabled: true
      command: "docker compose --file /var/www/docker-compose.yaml exec -T mysql"

  db-mysql-s:
    title: 'My DB MySQL #2'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 3306
    driver: 'mysql'
    server: 'srv-mysql'
    format: 'sql'
    storages:
      - local
    encrypt:
      type: 'aes'
      password: '123456'
    docker:
      enabled: false
  
  # Config Mongo databases
  db-mongo:
    title: 'My DB MongoDB #1'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 27017
    driver: 'mongo'
    server: 'srv-mongo'
    format: 'bson'
    options:
      auth_source: 'admin'
      ssl: false
    storages:
      - ftp

  db-mongo-ssl:
    title: 'My DB MongoDB #2'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 27017
    driver: 'mongo'
    server: 'srv-mongo'
    format: 'bson'
    options:
      auth_source: 'admin'
      ssl: true
    encrypt:
      type: 'aes'
      password: '123456'

  db-mongo-without-options:
    title: 'My DB MongoDB #3'
    name: 'mydb'
    user: 'myuser'
    password: 'mypassword'
    port: 27017
    driver: 'mongo'
    server: 'srv-mongo'
    format: 'bson'
  
  # Config Redis databases
  db-redis:
    title: 'My DB Redis #1'
    name: 'redis-db'
    user: 'myuser'
    password: 'mypassword'
    port: 6379
    driver: 'redis'
    server: 'srv-redis'
    format: 'fbk'
    options:
      mode: 'sync'

  db-redis-save:
    title: 'My DB Redis #2'
    name: 'redis-db'
    user: 'myuser'
    password: 'mypassword'
    port: 6379
    driver: 'redis'
    server: 'srv-redis'
    format: 'fbk'
    options:
      mode: 'save'
    encrypt:
      type: 'aes'
      password: '123456'
  
  # Config SQLite3 databases
  db-sqlite:
    title: 'My DB SQLite #1'
    name: 'mydb'
    user: ''
    password: ''
    port: ''
    driver: 'sqlite'
    server: 'srv-sqlite'
    format: 'sql'
    options:
      path: '/root/mydb.db'
  
  # Config MSSQL databases
  db-mssql-bac:
    title: 'My DB MSSQL #1'
    name: 'MyDB'
    user: 'sa'
    password: 'myPassword1'
    driver: 'mssql'
    server: 'srv-mssql'
    format: 'bac'

  db-mssql-bacpac:
    title: 'My DB MSSQL #2'
    name: 'MyDB'
    user: 'sa'
    password: 'myPassword1'
    driver: 'mssql'
    server: 'srv-mssql'
    format: 'bacpac'

  db-mssql-bacpac-ssl:
    title: 'My DB MSSQL #3'
    name: 'MyDB'
    user: 'sa'
    password: 'myPassword1'
    driver: 'mssql'
    server: 'srv-mssql'
    format: 'bacpac'
    options:
      ssl: true