name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run tests
        run: |
          make test

      - name: Generate version
        id: version
        run: |
          BRANCH_NAME=${GITHUB_HEAD_REF##*/}
          TAG="${BRANCH_NAME}"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Create git tag
        run: |
          git tag ${{ steps.version.outputs.tag }}
          git push origin ${{ steps.version.outputs.tag }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'

      - name: Generate app key
        id: secret
        run: |
          echo "APP_KEY=$(head -c 32 /dev/urandom | base64)" >> $GITHUB_ENV

      - name: Run Go Releaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2.11.2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          APP_KEY: ${{ env.APP_KEY }}